body{
    height: 200;
    background-color: black;


}

h1, h2{
    font-family: sans-serif;
    margin: 10;


} 

h1{
    font-style: 26;



}

h2{
    font-style: 16; 


}

}
 .red   {
color: red;
 }
.space{
    text-transform: uppercase;
}

